# 台股財報擷取-現金流量表

網址：[公開資訊觀測站/財務報表/採IFRS後/合併/個別報表/現金流量表](https://mops.twse.com.tw/mops/web/t164sb05)

In [1]:
import requests, os, sqlite3
import pandas as pd

In [2]:
print('擷取台股財報－現金流量表...')
sid = input('請輸入個股代號：')
year = input('請輸入擷取年度（請輸入民國年，譬如：108）：')
season = input('請輸入擷取季（輸入格式及區間：01 ~ 04）：')

擷取台股財報－現金流量表...
請輸入個股代號：2376
請輸入擷取年度（請輸入民國年，譬如：108）：108
請輸入擷取季（輸入格式及區間：01 ~ 04）：04

In [3]:
# 設定網址及 post 表單參數

url = 'https://mops.twse.com.tw/mops/web/t164sb05'
form_data = {
    'encodeURIComponent':1,
    'step':1,
    'firstin':1,
    'off':1,
    'queryName':'co_id',
    'inputType':'co_id',
    'TYPEK':'all',
    'isnew':'false',
    'co_id':sid,
    'year':year,
    'season':season,
}

In [4]:
# 擷取資料

try:
    data = requests.post(url, data=form_data)
except Exception as e:
    print('**WARRN: 擷取失敗')
    print('錯誤訊息', e)
else:
    print('成功擷取！')
    #print(data.text[:1000])

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>公開資訊觀測站</title>
<link href="css/css1.css" rel="stylesheet" type="text/css" Media="Screen"/>
<link href="css/print_css1.css" rel="stylesheet" type="text/css" Media="Print"/>
<link href="css/clickmenu.css"rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="js/mops1.js"></script>

<script type="text/javascript" src="js/jquery-1.1.4.pack.js"></script>
<script type="text/javascript" src="js/jquery.clickmenu.js"></script>


</head>
<body>

<center>
<table border="0"><tr><td align="left">
<form name='fh' style='margin:0;' action='/mops/web/ajax_autoComplete' method='post' onsubmit='return false;'><input type='hidden' name='firstin' id='firstin' value = '1'><input type='hidden' name='TYPEK' id='TYPE

In [5]:
# 使用 pandas 讀取網頁裡的表格資料

dfs = pd.read_html(data.text)
#dfs = pd.read_html('i3-cashflow.html')

In [6]:
# 取得現金流量表表格資料

# print(len(dfs))
# dfs[10]
df = dfs[10]
df.head(5)

           民國108年第4季                                           \
            單位：新台幣仟元
                會計項目      108年度      107年度 Unnamed: 3_level_2
  Unnamed: 0_level_3         金額         金額 Unnamed: 3_level_3
0      營業活動之現金流量－間接法        NaN        NaN                NaN
1     繼續營業單位稅前淨利（淨損）  2263248.0  2952771.0                NaN
2         本期稅前淨利（淨損）  2263248.0  2952771.0                NaN
3               折舊費用   603083.0   443426.0                NaN
4               攤銷費用   102148.0   158118.0                NaN



  Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2
  Unnamed: 4_level_3 Unnamed: 5_level_3 Unnamed: 6_level_3
0                NaN                NaN                NaN
1                NaN                NaN                NaN
2                NaN                NaN                NaN
3                NaN                NaN                NaN
4                NaN                NaN                NaN

In [7]:
# 查看列數及欄數

df.shape

(65, 7)

In [8]:
# 重設欄位名稱

df.columns = list(range(df.shape[1]))
df.head(5)

                0          1          2   3   4   5   6
0   營業活動之現金流量－間接法        NaN        NaN NaN NaN NaN NaN
1  繼續營業單位稅前淨利（淨損）  2263248.0  2952771.0 NaN NaN NaN NaN
2      本期稅前淨利（淨損）  2263248.0  2952771.0 NaN NaN NaN NaN
3            折舊費用   603083.0   443426.0 NaN NaN NaN NaN
4            攤銷費用   102148.0   158118.0 NaN NaN NaN NaN

In [9]:
# 設定索引值

df = df.set_index(0)
df.head(5)

                        1          2   3   4   5   6
0
營業活動之現金流量－間接法         NaN        NaN NaN NaN NaN NaN
繼續營業單位稅前淨利（淨損）  2263248.0  2952771.0 NaN NaN NaN NaN
本期稅前淨利（淨損）      2263248.0  2952771.0 NaN NaN NaN NaN
折舊費用             603083.0   443426.0 NaN NaN NaN NaN
攤銷費用             102148.0   158118.0 NaN NaN NaN NaN

In [10]:
# 只取第一欄資料(即當季財報), 及刪除 nan 項

df1 = df[1].dropna()
df1

0
繼續營業單位稅前淨利（淨損）                 2263248.0
本期稅前淨利（淨損）                     2263248.0
折舊費用                            603083.0
攤銷費用                            102148.0
預期信用減損損失（利益）數∕呆帳費用提列（轉列收入）數      28415.0
                                 ...
匯率變動對現金及約當現金之影響                -279721.0
本期現金及約當現金增加（減少）數               1296938.0
期初現金及約當現金餘額                    8610907.0
期末現金及約當現金餘額                    9907845.0
資產負債表帳列之現金及約當現金                9907845.0
Name: 1, Length: 62, dtype: float64

In [11]:
# 只取1個欄位資料後, bsdf 變成 series, 需轉換為 Dataframe

df1 = pd.DataFrame(df1)

In [12]:
# 轉置表格, 即列與欄交換

df1 = df1.transpose()
df1

,繼續營業單位稅前淨利（淨損）,本期稅前淨利（淨損）,折舊費用,攤銷費用,預期信用減損損失（利益）數∕呆帳費用提列（轉列收入）數,透過損益按公允價值衡量金融資產及負債之淨損失（利益）,利息費用,利息收入,股利收入,採用權益法認列之關聯企業及合資損失（利益）之份額,...,存入保證金減少,租賃本金償還,發放現金股利,非控制權益變動,籌資活動之淨現金流入（流出）,匯率變動對現金及約當現金之影響,本期現金及約當現金增加（減少）數,期初現金及約當現金餘額,期末現金及約當現金餘額,資產負債表帳列之現金及約當現金
1,2263248.0,2263248.0,603083.0,102148.0,28415.0,-63616.0,10845.0,-109497.0,-135974.0,25768.0,...,0.0,-91030.0,-1907067.0,1807.0,-2024749.0,-279721.0,1296938.0,8610907.0,9907845.0,9907845.0

In [13]:
# 刪除重覆欄位

df1 = df1.loc[:, ~df1.columns.duplicated()]
df1

,繼續營業單位稅前淨利（淨損）,本期稅前淨利（淨損）,折舊費用,攤銷費用,預期信用減損損失（利益）數∕呆帳費用提列（轉列收入）數,透過損益按公允價值衡量金融資產及負債之淨損失（利益）,利息費用,利息收入,股利收入,採用權益法認列之關聯企業及合資損失（利益）之份額,...,存入保證金減少,租賃本金償還,發放現金股利,非控制權益變動,籌資活動之淨現金流入（流出）,匯率變動對現金及約當現金之影響,本期現金及約當現金增加（減少）數,期初現金及約當現金餘額,期末現金及約當現金餘額,資產負債表帳列之現金及約當現金
1,2263248.0,2263248.0,603083.0,102148.0,28415.0,-63616.0,10845.0,-109497.0,-135974.0,25768.0,...,0.0,-91030.0,-1907067.0,1807.0,-2024749.0,-279721.0,1296938.0,8610907.0,9907845.0,9907845.0

In [14]:
# 新增股票代碼及財報日期欄位

df1['sid'] = sid
df1['year'] = year
df1['season'] = season

# 設定索引值

df1 = df1.set_index(['sid', 'year', 'season'])
df1

,,,繼續營業單位稅前淨利（淨損）,本期稅前淨利（淨損）,折舊費用,攤銷費用,預期信用減損損失（利益）數∕呆帳費用提列（轉列收入）數,透過損益按公允價值衡量金融資產及負債之淨損失（利益）,利息費用,利息收入,股利收入,採用權益法認列之關聯企業及合資損失（利益）之份額,...,存入保證金減少,租賃本金償還,發放現金股利,非控制權益變動,籌資活動之淨現金流入（流出）,匯率變動對現金及約當現金之影響,本期現金及約當現金增加（減少）數,期初現金及約當現金餘額,期末現金及約當現金餘額,資產負債表帳列之現金及約當現金
sid,year,season,,,,,,,,,,,,,,,,,,,,,
2376,108,04,2263248.0,2263248.0,603083.0,102148.0,28415.0,-63616.0,10845.0,-109497.0,-135974.0,25768.0,...,0.0,-91030.0,-1907067.0,1807.0,-2024749.0,-279721.0,1296938.0,8610907.0,9907845.0,9907845.0

In [15]:
conn = sqlite3.connect(os.path.join('data', 'stock1.db'))

# 判斷 income table 是否已存在
query = "select count(*) from sqlite_master where type='table' and name='cashflow'"
exist = list(conn.execute(query))[0][0]

# 如果 bs table 存在，新增資料，否則，建立表格及新增資料
if exist:
    # 讀取資料庫中原有資料
    data = pd.read_sql('select * from cashflow', conn, index_col=(['sid', 'year', 'season']))
    
    # 合併原有資料與新資料
    newdf = pd.concat([data, df1], sort=True)

    # 刪除重覆項
    newdf.drop_duplicates(inplace=True)
    
    newdf.to_sql('cashflow', conn, if_exists='replace')
    print('資料新增完畢!')
else:
    df1.to_sql('cashflow', conn, if_exists='replace')
    print('資料儲存完畢!')

conn.close()

資料儲存完畢!